[submodule "TemporaryVariable/lib/forge-std"]
	path = TemporaryVariable/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "MetaToken/lib/forge-std"]
	path = MetaToken/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
